numpy
torch==1.8.1
torchvision==0.9.1
hpbandster>=0.7.4
medpy
scipy
matplotlib
pynrrd
openpyxl
natsort
termcolor
SimpleITK
elasticdeform
connected-components-3d
PyQt5
torchio
scikit-learn
sympy
batchgenerators
monai
